:host {
    width: 40%;
    height: 55px;
    border: none;
    background-color: #fa593c;
    color: white;
    font-size: 16px;
    font-weight: 700;

    &:disabled {
        opacity: 0.3;
    }
}
